html {
  font-family: Georgia;
  background-color: #495562;
  color: #fff;
}

.btn-ghost {
  border-color: #97a49b;
  color: #fff;
}

.btn-ghost:hover {
  background-color: #efefef;
  color: #495562;
  border-color: #efefef;
}

img {
  background-image: linear-gradient(to bottom, rgba(73, 85, 98, .9), url("../images/earth-horizon.jpg");
}
